.completed {
    text-decoration: line-through;
}

.secondary-content {
    margin: 0 0.5em;
}

.edit-task {
    color: darkgray;
}

.delete-task {
    color: black;
}

.complete-task {
    color: #009a00;
}

.incomplete-task {
    color: red;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

.collection-item:hover {
    background-color: lightgray;
}
}